@charset "utf-8";

#wrap {
  width: 100%;
  height: 100%;
}

/* 상단(header) 부분----------------------------------------------------------------------------------------------------100 */
/* 상단(header) 부분 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 100px;
  background-color: white;
}
/* -------------------------------------------------- */
/* 상단 : 탑 부분 */
#h_top {
  margin: 0 auto;
  margin-top: 35px;
  width: 1680px;
  height: 35px;
  /* background-color: crimson; */
}
#h_top .logo {
  float: left;
}
#h_top .logo a {
}
#h_top .logo img {
  width: 140px;
  height: 35px;
}
#h_top .h_group {
  float: right;
  margin-top: 5px;
}
/* #h_top .h_group ul{
} */
#h_top .h_group ul li {
  float: left;
  margin-right: 15px;
}
#h_top .h_group ul li:last-child {
  margin-right: 0;
}
#h_top .h_group ul li a {
}
#h_top .h_group ul li a img {
  width: 30px;
  height: 30px;
}
#h_top .h_group .menu_btn {
  display: inline-block;
  /* overflow: hidden; */
  width: 28px;
  height: 30px;
}
#h_top .h_group .menu_btn span {
  display: block;
  margin-bottom: 7px;
  width: 28px;
  border-bottom: 5px solid rgb(51, 51, 51);
}
#h_top .h_group .menu_btn span:last-child {
  margin-bottom: 0;
}
/*************제품 상세**********************************/
#product{
  width: 100%;
  height: auto;
  margin-top: 100px ;
}
#product .p_header{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
#product .ph_head{
  width: 1200px;
  height: 70px;

  margin: 0 auto;
  line-height: 70px;

}
#product .ph_head > ul > li{
  float: left;
  margin-left: 30px;

}
/* 화살표 */
#product .ph_head > ul > li:nth-child(2n){
  font-weight: bold;
  font-size: 20px;
  margin-top: -2px;
}
#product .ph_head > ul > li:last-child{
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 14px;
  border: 1px solid red;
  box-sizing: border-box;
  color: red;
}
#product .ph_main {
  width: 100%;
  height: 580px;

  background: -webkit-radial-gradient(
    #d3d3d3 5%, #e5e5e5 25%, #eaeaea 50%);
   

}
#product .phm_box{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
#product .phmb_img{
  float: left;

  width: 50%;
  height: 580px;
  
}
#product .phmb_txt{
  float: left;
  width: 50%;
  height: 580px;
}

#product .txt_box{
  width: 380px;
  height: 450px;

  margin: 50px 0 0 30px;
  
}

#product .txt_box > h4 {
  font-size: 30px;
  margin-bottom: 3px;
  font-weight: 500;
  color: #666;
}
#product .txt_box > h5 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #666;
}

/*  색상 선택 박스  */
#product .txt_box > ul{
  margin-top: 5px;
}
#product .txt_box > ul > li {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
  margin-right: 10px;
  background: url(../images/sidiz_img/p_colorBox.png);
  cursor: pointer;
}
#product .txt_box > ul > li:first-child{
  background: url(../images/sidiz_img/p_f_colorBox.jpg);
  margin-left: 5px;
}
#product .txt_box > ul > li:first-child{

}
#product .txt_box > a {
  margin-left: 3%;
  text-decoration: none;
  color: #555;
}

/* 색상 표시 박스 */
#color_box{
  width: 360px;
  height: 25px;
  background-color: #fff;
  
  text-align: center;
  line-height: 25px;

  margin-top: 10px;
  margin-bottom: 80px;
  cursor: pointer;
  font-size: 12px;
}

/* 수량 버튼 */
#btn_count{
  width: 150px;
  height: 30px;
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
}
#btn_count > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btn_count > ul > li {
  float: left;
  font-size: 20px;
}
#btn_count > ul > li:first-child,
#btn_count > ul > li:last-child{
  cursor: pointer;
}

/* 구매하기, 장바구니 버튼 */
#btn_box {
  margin-top: 30px;
}

#btn_box > li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

#product .ph_foot{
  width: 780px;
  height: 120px;
  padding: 20px 0;
  margin: 0 auto;
  
}
#product .ph_foot > ul > li{
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 20px;
  cursor: pointer;
}
#product .ph_foot > ul > li:last-child{
  width: 150px;
}

#product .ph_foot > ul > li > img:hover {
  border: 1px solid red;
  box-sizing: border-box;
}

/* 제품 정보 테이블 */
#product .p_info{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  }
#product .pi_head {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
/*  제목 위 보더 스타일  */
#product .pi_boad1{
  width: 100%;
  height: 5px;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  box-sizing: border-box;
  background-color: #fff;
}
#product .pib_t{
  border-top : 1px solid #777;
  box-sizing: border-box;
}
/*  제목 위 보더 스타일 끝 */
#product .pi_head > h5{
  font-size: 25px;
  color: #777;
  background-color: #fff;
  padding-bottom: 10px;
}


#product .pi_txt{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#product .pi_txt > ul{
  width: 100%;
  height: auto;
}
#product .pi_txt > ul > li {
  float: left;
}
#product .pit_title > li {
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #e7e7e7;
  border: 1px solid #999;
  box-sizing: border-box;
  padding-left: 30px;
  color: #666;
  font-weight: 600;
}
#product .pit_content > li {
  width: 800px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
  padding-left: 10px;
  color: #777;
}

/* Function & Material */
#product .p_FM {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}
#product .pF_imgBox{
  width: 100%;
  height: 200px;
  background-color: #e7e7e7;
}
#product .pF_imgBox > ul > li{
  float: left;
  margin-top: 30px;
}
#product .pFi_imgs {
  width: 900px;
  height: auto;
  margin: 0 auto;
}
#product .pFi_imgs > li {
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
#product .pFi_imgs > li > img {
  margin-bottom: 20px;
}

/* story */
#p_story{
  width: 1000px;
  height: auto;
  margin: 0 auto;

}
#p_story .ps_contents {
  text-align: center;
  border-bottom: 1px dashed #999;
  box-sizing: border-box;
}
#p_story .ps_contents > h4 {
  font-size: 18px;
  margin-bottom: 23px;
}
#p_story .ps_contents > p {
  margin-bottom: 8px;
}
#p_story .ps_contents > p:last-child {
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

#p_story .ps_contentsPack {
  width: 100%;
  height: auto;
}
#p_story .ps_contentsPack > div {
  width: 500px;
  height: 600px;
  float: left;
  border-bottom: 1px dashed #999;
  box-sizing: border-box;
}
#p_story .ps_contentsPack h5 {
  font-size: 16px;
  margin: 15px 20px;
}
#p_story .ps_contentsPack p {
  margin-top: 5px;
  margin-left: 20px;
  color: #666;
}
#p_story .ps_contentsPack p:last-child {
  margin-top: 25px;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

#p_story .psc_txtPack1 > div:first-child {
  width: 100%;
  height: 20%;
}
#p_story .psc_txtPack2 > div:first-child  {
  width: 100%;
  height: 20%;
}
#p_story .psc_txtPack3 > div:first-child  {
  width: 100%;
  height: 30%;
}
#p_accountTxt {
  float: right;
  color: #999;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* 사용설명가이드 */

#ps_account{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #fafafa;
  text-align: center;
 
}

#ps_account .ps_video2 {
  padding-bottom: 20px;
  border-bottom: 1px dashed #999;
}
#ps_account .ps_video2 > p {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

#ps_Leather .ps_contentsPack {
  width: 1000px;
  height: 1000px;
  background-color: red;
}




/*************제품 상세 끝*******************************/
/* 하단(footer) 부분----------------------------------------------------------------------------------------------------100 */
/* 하단(footer) 부분 */
#footer {
  float: left;
  width: 100%;
  height: 530px;
  background-color: rgb(29, 29, 29);
}
/* -------------------------------------------------- */
/* 하단 : 탑 부분 */
#f_top {
  margin: 0 auto;
  width: 1680px;
  height: 80px;
  background-color: darkolivegreen;
}
#f_top h2 {
  margin: 10px 0 0 20px;
  float: left;
  width: 40px;
  height: 40px;
}
#f_top h2 a img {
  width: 100%;
}
#f_top .f_sns {
  float: right;
  margin-top: 30px;
}

#f_top .f_sns ul li {
  margin-right: 20px;
  float: left;
  width: 25px;
  height: 25px;
}
#f_top .f_sns ul li img {
  width: 100%;
}

/* 하단 : 바텀 부분 */
#f_bom {
  margin: 0 auto;
  width: 1680px;
  height: 450px;
  background-color: rgb(0, 0, 0);
}
#footer-section2 {
  display: inline-block;
  margin-bottom: 120px;
}
#footer-inner span {
  display: inline-block;
}
.flt,
.pull-left {
  float: left !important;
}
.wp30 {
  width: 30%;
}
#footer-section2 div {
  display: inline-block;
  width: 100%;
}
.centraFont {
  font-family: "Centra No2";
}
.lh18 {
  line-height: 18px;
}
.colFFF {
  color: #fff;
}

.flt,
.pull-left {
  float: left !important;
}
.f14 {
  font-size: 14px;
}

#footer-section2 div {
  display: inline-block;
  width: 100%;
}
.notoFont {
  font-family: "Noto Sans KR";
}
.lh22 {
  line-height: 22px;
}
.colFFF {
  color: #fff;
}
.flt,
.pull-left {
  float: left !important;
}
.bld {
  font-weight: bold;
}
.f15 {
  font-size: 15px;
}

#footer-section2 div {
  display: inline-block;
  width: 100%;
}
.notoFont {
  font-family: "Noto Sans KR";
}
.lh19 {
  line-height: 19px !important;
}
.colFFF {
  color: #fff;
}
.flt,
.pull-left {
  float: left !important;
}
.f13 {
  font-size: 13px;
}

a:link {
  text-decoration: none;
  color: #807f83;
}
.dpib {
  display: inline-block;
}
.flt,
.pull-left {
  float: left !important;
}
.wp100 {
  width: 100%;
}

/*------------*/
element.style {
  width: 60px;
  height: 40px;
  background-image: url(/img/footer/spclogo.png);
}
#footer-inner span {
  display: inline-block;
}

#footer-inner span {
  display: inline-block;
}
.flt,
.pull-left {
  float: left !important;
}
.wp70 {
  width: 70%;
}

#footer-section2 div {
  display: inline-block;
  width: 100%;
}
.h55 {
  height: 55px;
}

/***************************************************************/
#footer ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.tdline {
  text-decoration: underline !important;
}
.flt,
.pull-left {
  float: left !important;
}
.mgr74 {
  margin-right: 74px;
}
.bld {
  font-weight: bold;
}

#footer .subUl a {
  font-family: "Centra No2", "Noto Sans KR";
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}
a:link {
  text-decoration: none;
}
.fntClr_1a59ff {
  color: #1a59ff !important;
}
.lh19 {
  line-height: 19px !important;
}
a {
  background: transparent;
}
/* 사용자 에이전트 스타일시트 */
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}

#footer-section2 div {
  display: inline-block;
  width: 100%;
}

.menuTitle {
  float: left;
  font-family: "Centra No2", "Noto Sans KR";
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
  height: 44px;
  margin-right: 67px;
}

#footer .subUl a {
  font-family: "Centra No2", "Noto Sans KR";
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
}
a {
  background: transparent;
}

.mgt20 {
  margin-top: 20px;
}

#footer .subUl a {
  font-family: "Centra No2", "Noto Sans KR";
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
}

.centraFont {
  font-family: "Centra No2";
}
.lh31 {
  line-height: 31px;
}
.colFFF {
  color: #fff;
}
.mgt20 {
  margin-top: 20px;
}
.fwno {
  font-weight: normal;
}
.f24 {
  font-size: 24px;
}

b,
strong {
  font-weight: bold;
}

#footer-inner span {
  display: inline-block;
}
.col999 {
  color: #999;
}

.notoFont {
  font-family: "Noto Sans KR";
}
.lh19 {
  line-height: 19px !important;
}
.tdline {
  text-decoration: underline !important;
}
.colFFF {
  color: #fff;
}
.mgt20 {
  margin-top: 20px;
}
.f13 {
  font-size: 13px;
}
